.card{
    margin-top: 77px;
    margin-bottom: 85px;
}

.card__image {
    margin: 0 auto;
    width: 150px;
    height: 148px;
    border-radius: 50%;
    border: 5px solid #F2F2F7;
}

.card__name {
    margin-top: 34px;
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #081F32;
}

.card__title {
    margin-top: 34px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #8E8E93;
}

.info {
    margin-top: 16px;
    padding: 0 8px 0 16px;
}

.info__item {
    padding: 9px 0 12px 0;
    border-bottom: 1px solid rgba(33, 33, 33, 0.08);;
}

.info__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #081F32;
}

.info__descr {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #6E798C;
}